/* layer: preflights */
*,::before,::after{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgb(0 0 0 / 0);--un-ring-shadow:0 0 rgb(0 0 0 / 0);--un-shadow-inset: ;--un-shadow:0 0 rgb(0 0 0 / 0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgb(147 197 253 / 0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}::backdrop{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgb(0 0 0 / 0);--un-ring-shadow:0 0 rgb(0 0 0 / 0);--un-shadow-inset: ;--un-shadow:0 0 rgb(0 0 0 / 0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgb(147 197 253 / 0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}
*,::before,::after{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgb(0 0 0 / 0);--un-ring-shadow:0 0 rgb(0 0 0 / 0);--un-shadow-inset: ;--un-shadow:0 0 rgb(0 0 0 / 0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgb(147 197 253 / 0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}::backdrop{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgb(0 0 0 / 0);--un-ring-shadow:0 0 rgb(0 0 0 / 0);--un-shadow-inset: ;--un-shadow:0 0 rgb(0 0 0 / 0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgb(147 197 253 / 0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}
/* layer: components */
@import "markstream-vue/index.css";
/* layer: default */
.absolute{position:absolute;}
.relative{position:relative;}
.-right-1{right:-0.25rem;}
.-top-1{top:-0.25rem;}
.bottom-2{bottom:0.5rem;}
.left-0{left:0;}
.top-2{top:0.5rem;}
.mx-auto{margin-left:auto;margin-right:auto;}
.mb-2{margin-bottom:0.5rem;}
.mt-1{margin-top:0.25rem;}
.mt-2{margin-top:0.5rem;}
.mt-auto{margin-top:auto;}
.h-\[14px\]{height:14px;}
.h-\[28px\]{height:28px;}
.h-9{height:2.25rem;}
.h-full{height:100%;}
.min-w-\[14px\]{min-width:14px;}
.w-\[28px\]{width:28px;}
.w-\[2px\]{width:2px;}
.w-full{width:100%;}
.flex{display:flex;}
.flex-1{flex:1 1 0%;}
.shrink-0{flex-shrink:0;}
.flex-col{flex-direction:column;}
.scale-105{--un-scale-x:1.05;--un-scale-y:1.05;transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.transform{transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.items-center{align-items:center;}
.justify-center{justify-content:center;}
.gap-1\.5{gap:0.375rem;}
.overflow-hidden{overflow:hidden;}
.border-r-2{border-right-width:2px;}
.border-bdr{--un-border-opacity:1;border-color:rgb(53 53 66 / var(--un-border-opacity));}
.border-bdrF{--un-border-opacity:1;border-color:rgb(226 225 222 / var(--un-border-opacity));}
.border-bdrL{--un-border-opacity:1;border-color:rgb(221 220 217 / var(--un-border-opacity));}
.border-brand-400{--un-border-opacity:1;border-color:rgb(108 138 255 / var(--un-border-opacity));}
.border-d4{--un-border-opacity:1;border-color:rgb(46 46 58 / var(--un-border-opacity));}
.rounded-full{border-radius:9999px;}
.rounded-lg{border-radius:0.5rem;}
.rounded-r{border-top-right-radius:0.25rem;border-bottom-right-radius:0.25rem;}
.bg-agent-400{--un-bg-opacity:1;background-color:rgb(167 139 250 / var(--un-bg-opacity)) /* #A78BFA */;}
.bg-agent-50{--un-bg-opacity:1;background-color:rgb(245 243 255 / var(--un-bg-opacity)) /* #f5f3ff */;}
.bg-agent-500{--un-bg-opacity:1;background-color:rgb(124 58 237 / var(--un-bg-opacity)) /* #7C3AED */;}
.bg-amber-400{--un-bg-opacity:1;background-color:rgb(251 191 36 / var(--un-bg-opacity)) /* #fbbf24 */;}
.bg-amber-50{--un-bg-opacity:1;background-color:rgb(255 251 235 / var(--un-bg-opacity)) /* #fffbeb */;}
.bg-amber-500{--un-bg-opacity:1;background-color:rgb(245 158 11 / var(--un-bg-opacity)) /* #f59e0b */;}
.bg-brand-400{--un-bg-opacity:1;background-color:rgb(108 138 255 / var(--un-bg-opacity)) /* #6C8AFF */;}
.bg-brand-50{--un-bg-opacity:1;background-color:rgb(239 246 255 / var(--un-bg-opacity)) /* #eff6ff */;}
.bg-brand-500{--un-bg-opacity:1;background-color:rgb(74 108 255 / var(--un-bg-opacity)) /* #4A6CFF */;}
.bg-brand-600{--un-bg-opacity:1;background-color:rgb(58 92 237 / var(--un-bg-opacity)) /* #3A5CED */;}
.bg-d0{--un-bg-opacity:1;background-color:rgb(14 14 18 / var(--un-bg-opacity)) /* #0e0e12 */;}
.bg-d1{--un-bg-opacity:1;background-color:rgb(23 23 32 / var(--un-bg-opacity)) /* #171720 */;}
.bg-d2{--un-bg-opacity:1;background-color:rgb(28 28 38 / var(--un-bg-opacity)) /* #1c1c26 */;}
.bg-d3{--un-bg-opacity:1;background-color:rgb(37 37 48 / var(--un-bg-opacity)) /* #252530 */;}
.bg-d4{--un-bg-opacity:1;background-color:rgb(46 46 58 / var(--un-bg-opacity)) /* #2e2e3a */;}
.bg-emerald-400{--un-bg-opacity:1;background-color:rgb(52 211 153 / var(--un-bg-opacity)) /* #34d399 */;}
.bg-l0{--un-bg-opacity:1;background-color:rgb(248 247 246 / var(--un-bg-opacity)) /* #f8f7f6 */;}
.bg-l1{--un-bg-opacity:1;background-color:rgb(241 240 239 / var(--un-bg-opacity)) /* #f1f0ef */;}
.bg-l2{--un-bg-opacity:1;background-color:rgb(255 255 255 / var(--un-bg-opacity)) /* #ffffff */;}
.bg-l3{--un-bg-opacity:1;background-color:rgb(245 244 243 / var(--un-bg-opacity)) /* #f5f4f3 */;}
.bg-l4{--un-bg-opacity:1;background-color:rgb(235 234 232 / var(--un-bg-opacity)) /* #ebeae8 */;}
.bg-output-400{--un-bg-opacity:1;background-color:rgb(52 211 153 / var(--un-bg-opacity)) /* #34D399 */;}
.bg-output-50{--un-bg-opacity:1;background-color:rgb(236 253 245 / var(--un-bg-opacity)) /* #ecfdf5 */;}
.bg-output-500{--un-bg-opacity:1;background-color:rgb(16 185 129 / var(--un-bg-opacity)) /* #10B981 */;}
.bg-red-400{--un-bg-opacity:1;background-color:rgb(248 113 113 / var(--un-bg-opacity)) /* #f87171 */;}
.bg-red-50{--un-bg-opacity:1;background-color:rgb(254 242 242 / var(--un-bg-opacity)) /* #fef2f2 */;}
.bg-red-500{--un-bg-opacity:1;background-color:rgb(239 68 68 / var(--un-bg-opacity)) /* #ef4444 */;}
.bg-rose-400{--un-bg-opacity:1;background-color:rgb(251 113 133 / var(--un-bg-opacity)) /* #fb7185 */;}
.bg-white{--un-bg-opacity:1;background-color:rgb(255 255 255 / var(--un-bg-opacity)) /* #fff */;}
.hover\:bg-amber-600:hover{--un-bg-opacity:1;background-color:rgb(217 119 6 / var(--un-bg-opacity)) /* #d97706 */;}
.hover\:bg-l4:hover{--un-bg-opacity:1;background-color:rgb(235 234 232 / var(--un-bg-opacity)) /* #ebeae8 */;}
.hover\:bg-red-600:hover{--un-bg-opacity:1;background-color:rgb(220 38 38 / var(--un-bg-opacity)) /* #dc2626 */;}
.px{padding-left:1rem;padding-right:1rem;}
.px-\[6px\]{padding-left:6px;padding-right:6px;}
.px-0\.5{padding-left:0.125rem;padding-right:0.125rem;}
.text-\[20px\]{font-size:20px;}
.text-\[8px\]{font-size:8px;}
.text-agent-400{--un-text-opacity:1;color:rgb(167 139 250 / var(--un-text-opacity)) /* #A78BFA */;}
.text-agent-500{--un-text-opacity:1;color:rgb(124 58 237 / var(--un-text-opacity)) /* #7C3AED */;}
.text-amber-400{--un-text-opacity:1;color:rgb(251 191 36 / var(--un-text-opacity)) /* #fbbf24 */;}
.text-brand-400{--un-text-opacity:1;color:rgb(108 138 255 / var(--un-text-opacity)) /* #6C8AFF */;}
.text-brand-500{--un-text-opacity:1;color:rgb(74 108 255 / var(--un-text-opacity)) /* #4A6CFF */;}
.text-emerald-400{--un-text-opacity:1;color:rgb(52 211 153 / var(--un-text-opacity)) /* #34d399 */;}
.text-lt-aux{--un-text-opacity:1;color:rgb(138 138 158 / var(--un-text-opacity)) /* #8a8a9e */;}
.text-lt-main{--un-text-opacity:1;color:rgb(26 26 46 / var(--un-text-opacity)) /* #1a1a2e */;}
.text-lt-sub{--un-text-opacity:1;color:rgb(90 90 110 / var(--un-text-opacity)) /* #5a5a6e */;}
.text-output-400{--un-text-opacity:1;color:rgb(52 211 153 / var(--un-text-opacity)) /* #34D399 */;}
.text-output-500{--un-text-opacity:1;color:rgb(16 185 129 / var(--un-text-opacity)) /* #10B981 */;}
.text-red-500{--un-text-opacity:1;color:rgb(239 68 68 / var(--un-text-opacity)) /* #ef4444 */;}
.text-rose-400{--un-text-opacity:1;color:rgb(251 113 133 / var(--un-text-opacity)) /* #fb7185 */;}
.text-white{--un-text-opacity:1;color:rgb(255 255 255 / var(--un-text-opacity)) /* #fff */;}
.text-wt-aux{--un-text-opacity:1;color:rgb(120 120 138 / var(--un-text-opacity)) /* #78788a */;}
.text-wt-dim{--un-text-opacity:1;color:rgb(85 85 104 / var(--un-text-opacity)) /* #555568 */;}
.text-wt-main{--un-text-opacity:1;color:rgb(232 232 237 / var(--un-text-opacity)) /* #e8e8ed */;}
.text-wt-sub{--un-text-opacity:1;color:rgb(176 176 186 / var(--un-text-opacity)) /* #b0b0ba */;}
.hover\:text-lt-sub:hover{--un-text-opacity:1;color:rgb(90 90 110 / var(--un-text-opacity)) /* #5a5a6e */;}
.hover\:text-wt-sub:hover{--un-text-opacity:1;color:rgb(176 176 186 / var(--un-text-opacity)) /* #b0b0ba */;}
.font-bold{font-weight:700;}
.shadow-sm{--un-shadow:var(--un-shadow-inset) 0 1px 2px 0 var(--un-shadow-color, rgb(0 0 0 / 0.05));box-shadow:var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);}
.ring-2{--un-ring-width:2px;--un-ring-offset-shadow:var(--un-ring-inset) 0 0 0 var(--un-ring-offset-width) var(--un-ring-offset-color);--un-ring-shadow:var(--un-ring-inset) 0 0 0 calc(var(--un-ring-width) + var(--un-ring-offset-width)) var(--un-ring-color);box-shadow:var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);}
.hover\:ring-2:hover{--un-ring-width:2px;--un-ring-offset-shadow:var(--un-ring-inset) 0 0 0 var(--un-ring-offset-width) var(--un-ring-offset-color);--un-ring-shadow:var(--un-ring-inset) 0 0 0 calc(var(--un-ring-width) + var(--un-ring-offset-width)) var(--un-ring-color);box-shadow:var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);}
.ring-offset-1{--un-ring-offset-width:1px;}
.hover\:ring-offset-1:hover{--un-ring-offset-width:1px;}
.transition{transition-property:color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);transition-duration:150ms;}
.transition-all{transition-property:all;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);transition-duration:150ms;}
.bg-brand-400\/8{background-color:rgba(108,138,255,0.08);}
.hover\:bg-white\/2:hover{background-color:rgba(255,255,255,0.02);}
.hover\:bg-white\/4:hover{background-color:rgba(255,255,255,0.04);}
.bg-emerald-400\/8{background-color:rgba(52,211,153,0.08);}
.bg-amber-400\/8{background-color:rgba(250,204,21,0.08);}
.bg-red-400\/8{background-color:rgba(248,113,113,0.08);}
.bg-brand-400\/12{background-color:rgba(108,138,255,0.12);}